<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin</title>
        <link rel="stylesheet" href="/App.css" />
    </head>
    <body>
        <div>
            <div class="w-full"><%- include('authHeader') -%></div>
            <main class="h-full px-4 lg:px-12"><%- include('banner') -%></main>
        </div>
    </body>
</html>
