<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96" id="show_slider"></div>
    <!-- Slider indicators -->

    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>
<div class="md:px-16 px-8">
    <!-- introduction -->
    <div class="w-full flex flex-col relative my-8" id="introduction">
        <div class="h-20 w-full relative md:block hidden"></div>
        <div class="mx-auto flex justify-between lg:flex-row flex-col gap-8">
            <div class="text-start mb-4 max-w-2xl w-full">
                <h1 class="text-2xl font-bold text-[#93181b] uppercase">Giới thiệu</h1>
                <h1 class="text-3xl mt-2 font-bold text-gray-900 uppercase">Anh Ngữ MTP Academy</h1>
                <h1 class="text-3xl mb-2 font-bold text-gray-900 uppercase">Dare to change</h1>
                <span class="text-gray-700 dark:text-gray-400 mt-4 text-sm font-normal text-justify leading-relaxed"
                    >SkyMTP Academy là một trong những trung tâm tiếng Anh hàng đầu tại Việt Nam, nổi bật với phương pháp giảng dạy hiện đại và đội ngũ giảng viên giàu kinh nghiệm. Được thành lập với
                    mục tiêu nâng cao trình độ tiếng Anh của cộng đồng, SkyMTP Academy không ngừng nỗ lực mang đến cho học viên những khóa học chất lượng, tạo điều kiện tốt nhất để họ phát triển kỹ
                    năng ngôn ngữ và mở ra nhiều cơ hội trong học tập cũng như sự nghiệp.
                </span>
            </div>
            <div class="flex max-w-md mx-auto w-full">
                <img height="350" width="350" class="ml-auto" src="/images/controdure_home.jpg" alt="Controdure image" />
            </div>
        </div>
    </div>

    <!-- list class  -->

    <div class="w-full flex flex-col relative my-8" id="opening">
        <div class="h-8 w-full relative md:block hidden"></div>
        <div class="mx-auto justify-between mb-4 flex lg:flex-row flex-col md:gap-12 gap-4">
            <div class="text-start max-w-md w-full uppercase">
                <h1 class="text-2xl font-bold text-[#93181b]">Các lớp học</h1>
                <h1 class="text-3xl mt-2 font-bold text-gray-900">Trung tâm anh ngữ</h1>
                <h1 class="text-3xl font-bold text-gray-900">SkyMTP Academy</h1>
            </div>
            <div class="flex max-w-2xl w-full">
                <span class="text-gray-700 dark:text-gray-400 mt-4 text-sm font-normal text-justify leading-relaxed"
                    >SkyMTP Academy tự hào có đội ngũ giảng viên giàu kinh nghiệm, trình độ chuyên môn cao, và đặc biệt là tâm huyết với nghề. Họ không chỉ là những người thầy giỏi mà còn là những
                    người bạn đồng hành, luôn sẵn sàng hỗ trợ và động viên học viên. Trung tâm được trang bị đầy đủ các thiết bị giảng dạy hiện đại, phòng học thoáng mát, tiện nghi, tạo môi trường học
                    tập thoải mái và hiệu quả nhất cho học viên.
                </span>
            </div>
        </div>
        <div class="w-full flex">
            <div class="grid md:grid-cols-4 grid-cols-2 gap-4 mx-auto max-w-4xl w-full overflow-hidden">
                <div class="md:max-w-52 h-80 relative bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <img class="rounded-t-lg w-full h-40" src="/images/lop_3-home.jpg" alt="" />
                    <div class="px-2 py-4 w-full">
                        <h3 class="text-lg text-[#93181b] font-bold uppercase">Lớp 3 năm 2024</h3>
                        <div class="h-1 my-2 w-1/2 bg-[#93181b] block"></div>
                        <h3 class="text-sm text-gray-700 font-bold">Giảng viên: <span class="font-medium">Giảng viên 1</span></h3>
                        <h3 class="text-sm text-gray-700 font-bold">Khai giảng: <span class="font-medium">01/07/2024</span></h3>
                        <a href="#" class="absolute bottom-3 uppercase underline text-[#93181b] font-semibold text-sm">
                            <p>Xem chi tiết</p>
                        </a>
                    </div>
                </div>
                <div class="md:max-w-52 h-80 relative bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <img class="rounded-t-lg w-full h-40" src="/images/lop_4-home.jpg" alt="" />
                    <div class="px-2 py-4 w-full">
                        <h3 class="text-lg text-[#93181b] font-bold uppercase">Lớp 4 - năm 2024</h3>
                        <div class="h-1 my-2 w-1/2 bg-[#93181b] block"></div>
                        <h3 class="text-sm text-gray-700 font-bold">Giảng viên: <span class="font-medium">Giảng viên 2</span></h3>
                        <h3 class="text-sm text-gray-700 font-bold">Khai giảng: <span class="font-medium">01/07/2024</span></h3>
                        <a href="#" class="absolute bottom-3 uppercase underline text-[#93181b] font-semibold text-sm">
                            <p>Xem chi tiết</p>
                        </a>
                    </div>
                </div>

                <div class="md:max-w-52 h-80 relative bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <img class="rounded-t-lg w-full h-40" src="/images/lop_5-home.jpg" alt="" />
                    <div class="px-2 py-4 w-full">
                        <h3 class="text-lg text-[#93181b] font-bold uppercase">Lớp 5 - năm 2024</h3>
                        <div class="h-1 my-2 w-1/2 bg-[#93181b] block"></div>
                        <h3 class="text-sm text-gray-700 font-bold">Giảng viên: <span class="font-medium">Giảng viên 1</span></h3>
                        <h3 class="text-sm text-gray-700 font-bold">Khai giảng: <span class="font-medium">01/07/2024</span></h3>
                        <a href="#" class="absolute bottom-3 uppercase underline text-[#93181b] font-semibold text-sm">
                            <p>Xem chi tiết</p>
                        </a>
                    </div>
                </div>
                <div class="md:max-w-52 h-80 relative bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <img class="rounded-t-lg w-full h-40" src="/images/lop_6-home.jpg" alt="" />
                    <div class="px-2 py-4 w-full">
                        <h3 class="text-lg text-[#93181b] font-bold uppercase">Lớp 6 năm 2024</h3>
                        <div class="h-1 my-2 w-1/2 bg-[#93181b] block"></div>
                        <h3 class="text-sm text-gray-700 font-bold">Giảng viên: <span class="font-medium">Giảng viên 3</span></h3>
                        <h3 class="text-sm text-gray-700 font-bold">Khai giảng: <span class="font-medium">01/07/2024</span></h3>
                        <a href="#" class="absolute bottom-3 uppercase underline text-[#93181b] font-semibold text-sm">
                            <p>Xem chi tiết</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-full p-12 bg-gradient-to-r from-green-600 to-green-800 relative bg-no-repeat bg-cover flex" id="contact">
    <div class="flex ml-auto items-center max-w-md w-full p-8 justify-center">
        <div class="mx-auto w-full rounded-lg bg-white">
            <form class="p-4 rounded-lg">
                <div class="mb-5">
                    <label for="name" class="mb-3 block text-base font-medium text-[#07074D]"> Họ tên </label>
                    <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Họ tên"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white p-2 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                </div>
                <div class="mb-5">
                    <label for="phone" class="mb-3 block text-base font-medium text-[#07074D]"> Số điện thoại </label>
                    <input
                        type="text"
                        name="phone"
                        id="phone"
                        placeholder="Số điện thoại"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white p-2 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                </div>
                <div class="mb-5">
                    <label for="email" class="mb-3 block text-base font-medium text-[#07074D]"> Email </label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Email"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white p-2 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                </div>

                <div>
                    <button class="hover:shadow-form md:cursor-pointer w-full rounded-md bg-primary-600 hover:bg-primary-700 py-3 px-8 text-center text-base font-semibold text-white outline-none">
                        Đặt chỗ ngay
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="absolute flex top-0 start-6 w-full h-full">
        <div class="m-auto text-center">
            <h1 class="text-3xl font-bold text-white uppercase italic">Đăng ký ngay</h1>
            <h1 class="text-3xl font-bold mb-4 text-white uppercase italic">Khóa học của bạn</h1>
            <span class="text-white text-sm font-normal text-justify leading-relaxed">Đăng ký ngay để nhận ưu đãi hấp dẫn từ trung tâm. Hãy để chúng tôi giúp bạn vươn tới mục tiêu của mình. </span>

            <ul class="space-y-4 my-4 text-left text-white text-xl font-semibold dark:text-gray-400">
                <li class="flex items-center space-x-3 rtl:space-x-reverse">
                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5" />
                    </svg>
                    <span>Giảm ngay 10% khi đăng ký khóa học trong tháng 7</span>
                </li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse">
                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5" />
                    </svg>
                    <span>Giảm ngay 20% khi đăng ký nhóm từ 2 người</span>
                </li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse">
                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5" />
                    </svg>
                    <span>Miễn phí 2 buổi học thử tại trung tâm</span>
                </li>
            </ul>
        </div>
    </div>
</div>
