<div
    class="flex min-h-[40px] mb-10 lg:mb-14 w-full place-items-center rounded-lg"
>
    <nav
        class="fixed top-0 z-30 block w-full max-w-full px-4 py-2 text-white bg-white border rounded-none shadow-md h-max border-white/80 bg-opacity-80 backdrop-blur-2xl backdrop-saturate-200 lg:px-8 lg:py-4"
    >
        <div class="flex items-center justify-between text-blue-500">
            <a
                href="#"
                class="mr-4 block cursor-pointer py-1.5 font-sans text-base text-black font-medium leading-relaxed antialiased"
            >
                English Center
            </a>
            <div class="flex items-center gap-4">
                <div class="flex items-center gap-x-1">
                    <a href="/login">               
                            <button
                            class="select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:inline-block"
                            type="button"
                        >
                            <span">Sign In</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
