<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lịch sử điểm danh</title>
        <link rel="stylesheet" href="App.css" />
    </head>
    <body>
        <div>
            <%- include('sidebar') %>
            <div class="sm:ml-64">
                <%- include('navbar-admin') %>
                <div class="p-4 mt-8 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">Lịch sử điểm danh</div>
            </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>
