<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Trang chủ</title>
        <link rel="stylesheet" href="/App.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
        <style>
            html {
                scroll-behavior: smooth;
            }
        </style>
    </head>
    <body>
        <div class="flex min-h-[40px] mb-8 lg:mb-7 w-full place-items-center rounded-lg">
            <nav class="bg-white dark:bg-gray-900 fixed w-full z-40 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
                <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                        <span class="self-center text-2xl text-primary-700 font-mono font-semibold whitespace-nowrap dark:text-white">SkyMTP Academy</span>
                    </a>
                    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse relative">
                        <button
                            type="button"
                            onclick="window.location.href = '/login'"
                            class="text-white bg-blue-500 hover:scale-105 font-medium rounded-md text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Đăng Nhập
                        </button>
                    </div>
                    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                        <ul
                            class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                            <li>
                                <a
                                    href="#"
                                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                                    aria-current="page"
                                    >Trang chủ</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#introduction"
                                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                                    >Giới thiệu</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#opening"
                                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                                    >Lịch khai giảng</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#contact"
                                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                                    >Liên hệ</a
                                >
                            </li>
                        </ul>
                    </div>
                    <!-- header mobile -->
                    <div class="items-center justify-between md:hidden hidden w-full h-full fixed top-0 right-0 z-50 bg-white md:w-auto md:order-1" id="navbar-mobile" data-open="false" ="">
                        <button class="top-2 right-2 p-2 absolute" onclick="handleOpen('navbar-mobile', 'animate-faceright', 'animate-hiddenright', 300)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path
                                    fill-rule="evenodd"
                                    d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                        <ul
                            class="flex flex-col p-4 md:p-0 mt-4 font-medium rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                            <li>
                                <a
                                    href="#"
                                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                                    aria-current="page"
                                    >Trang chủ</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#introduction"
                                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                                    >Giới thiệu</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#opening"
                                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                                    >Lịch khai giảng</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#contact"
                                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                                    >Liên hệ</a
                                >
                            </li>
                            <li>
                                <a
                                    href="/login"
                                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                                    >Đăng nhập</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <%- include('content-home-page') %>
        <footer class="bg-gray-800 w-full flex">
            <div class="mx-auto w-full max-w-screen-xl">
                <div class="grid grid-cols-3 gap-8 px-4 py-6 lg:py-8 lg:grid-cols-4">
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Thông tin liên hệ</h2>
                        <ul class="text-gray-300 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Email: trungtamtienganh@gmail.com</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Số điện thoại: 0379404699 - 0789009862</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Địa chỉ: 147 Chiến Thắng, Tân triều, Thanh Trì, HN</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Thông tin</h2>
                        <ul class="text-gray-300 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Trang chủ</a>
                            </li>
                            <li class="mb-4">
                                <a href="#introduction" class="hover:underline">Giới thiệu</a>
                            </li>
                            <li class="mb-4">
                                <a href="#opening" class="hover:underline">Lịch khai giảng</a>
                            </li>
                            <li class="mb-4">
                                <a href="#contact" class="hover:underline">Liên hệ</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Hỗ trợ</h2>
                        <ul class="text-gray-300 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Câu hỏi thường gặp</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Hướng dẫn đăng ký học</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Chính sách học bổng</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Quy định trung tâm</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Sơ đồ Đường đi</a>
                            </li>
                        </ul>
                    </div>
                    <div class="lg:block hidden">
                        <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Fanpage facebook</h2>
                    </div>
                </div>
            </div>
        </footer>

        <script src="/script.js"></script>
        <script src="/script/home.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    </body>
</html>
