<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="/App.css" />
    </head>
    <body>
        <div class="w-full">
            <div
    class="flex min-h-[40px] mb-10 lg:mb-14 w-full place-items-center rounded-lg"
>
    <nav
        class="fixed top-0 z-30 block w-full max-w-full px-4 py-2 text-white bg-white border rounded-none shadow-md h-max border-white/80 bg-opacity-80 backdrop-blur-2xl backdrop-saturate-200 lg:px-8 lg:py-4"
    >
        <div class="flex items-center justify-between text-blue-500">
            <a
                href="#"
                class="mr-4 block cursor-pointer py-1.5 font-sans text-base text-black font-medium leading-relaxed antialiased"
            >
                English Center
            </a>
            <div class="flex items-center gap-4">
                <div class="flex items-center gap-2">
                    <a href="/login">               
                            <button
                            class="select-none rounded-lg bg-transparent from-gray-900 to-gray-800 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-900  transition-all hover:bg-gray-200 hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:inline-block"
                            type="button"
                        >
                            <span">Đăng nhập</span>
                        </button>
                    </a>
                    <a href="/register">               
                        <button
                        class="select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:inline-block"
                        type="button"
                    >
                        <span">Đăng ký</span>
                    </button>
                </a>
                </div>
            </div>
        </div>
    </nav>
</div>
        </div>

        <main class="h-full px-12"><%- include('banner') -%></main>
        <script src="/script.js"></script>
    </body>
</html>
