<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Trang chủ</title>
        <link rel="stylesheet" href="App.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="app">
            <%- include('parent-header') %>
            <div class="mt-16"><%- include('content-home-page') %> <%- include('footer') %></div>
        </div>

        <script src="/script.js"></script>
        <script src="/script/home.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    </body>
</html>
